In [1]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv('LaundryData_2021_T2.csv')
#showing our initial dataframe here
dataframe

,Date,Time,Race,Gender,Body_Size,Age_Range,With_Kids,Kids_Category,Basket_Size,Basket_colour,...,shirt_type,Pants_Colour,pants_type,Wash_Item,Washer_No,Dryer_No,Spectacles,latitude,longitude,Num_of_Baskets
0,19/10/2015,20:17:50,malay,male,moderate,28.0,yes,young,big,red,...,short_sleeve,black,short,clothes,3,10,no,2.912316,101.657948,1.0
1,19/10/2015,20:28:42,NaN,male,thin,32.0,no,no_kids,big,NaN,...,short_sleeve,blue_jeans,long,NaN,6,9,no,2.922506,101.643129,3.0
2,19/10/2015,20:58:31,malay,female,moderate,30.0,no,no_kids,big,blue,...,short_sleeve,black,long,NaN,4,10,no,2.935533,101.737170,1.0
3,19/10/2015,21:31:28,indian,male,thin,51.0,no,no_kids,NaN,black,...,short_sleeve,yellow,short,clothes,5,9,no,2.949924,101.637069,1.0
4,19/10/2015,21:40:28,indian,male,NaN,34.0,no,no_kids,big,blue,...,NaN,white,long,clothes,3,9,NaN,2.903530,101.661249,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2016-01-24,21:45:06,foreigner,male,moderate,30.0,yes,no_kids,small,yellow,...,short_sleeve,white,long,blankets,6,7,yes,3.082212,101.644878,2.0
3996,2015-12-26,01:48:15,malay,male,moderate,24.0,yes,baby,small,green,...,long sleeve,black,short,clothes,4,10,yes,3.118138,101.677315,3.0
3997,2015-12-07,01:42:32,foreigner,male,thin,27.0,yes,no_kids,small,blue,...,long sleeve,green,short,clothes,4,9,no,3.101051,101.643060,1.0
3998,2016-02-10,00:24:23,indian,female,thin,18.0,yes,baby,big,black,...,short_sleeve,blue,long,blankets,6,10,no,3.136530,101.699091,1.0
3999,2016-02-02,09:47:17,chinese,female,fat,23.0,yes,young,big,grey,...,long sleeve,white,long,blankets,4,10,yes,3.126260,101.701246,1.0

In [2]:
dataframe.isnull().sum()

Date                0
Time                0
Race              198
Gender            177
Body_Size         183
Age_Range         143
With_Kids         186
Kids_Category      30
Basket_Size       205
Basket_colour     203
Attire            217
Shirt_Colour      174
shirt_type        185
Pants_Colour      174
pants_type          9
Wash_Item         181
Washer_No           0
Dryer_No            0
Spectacles        209
latitude            0
longitude           0
Num_of_Baskets    182
dtype: int64